# Copyright (C) 2023 - 2026 ANSYS, Inc. and/or its affiliates.
# SPDX-License-Identifier: MIT
#
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

"""
MI Server API

No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import re  # noqa: F401
from typing import TYPE_CHECKING, Any, BinaryIO, Optional  # noqa: F401

from . import ApiBase

if TYPE_CHECKING:
    import pathlib

    from ..models import *


class FindSimilarApi(ApiBase):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def delete_find_similar_results(self, *, find_similar_identifier: "str") -> "None":
        """Delete find similar results by identifier

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        find_similar_identifier: str

        Returns
        -------
        None
        """
        data = self._delete_find_similar_results_with_http_info(
            find_similar_identifier, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _delete_find_similar_results_with_http_info(
        self, find_similar_identifier: "str", **kwargs: Any
    ) -> Any:
        all_params = [
            "find_similar_identifier",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method delete_find_similar_results"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "find_similar_identifier" is set
        if "find_similar_identifier" not in params or params["find_similar_identifier"] is None:
            raise ValueError(
                "Missing the required parameter 'find_similar_identifier' when calling 'delete_find_similar_results'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "find_similar_identifier" in params and find_similar_identifier is not None:
            path_params["find-similar-identifier"] = params["find_similar_identifier"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None

        response_type_map: dict[int, Optional[str]] = {
            200: None,
            403: None,
            404: None,
        }

        return self.api_client.call_api(
            "/v1alpha/{find-similar-identifier}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def find_similar(
        self,
        *,
        database_key: "str",
        table_guid: "str",
        record_guid: "str",
        body: "Optional[GsaFindSimilarRequest]" = None,
        x_ansys_vc_mode: "Optional[str]" = None,
        mode: "Optional[str]" = None,
    ) -> "GsaFindSimilarResponse":
        """Finds similar records in a given database and table for a given record

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        table_guid: str
            See [Schema - Tables/GetTables](#/Schema%20-%20Tables/GetTables) or [Schema - Tables/QueryTables](#/Schema%20-%20Tables/QueryTables)
        record_guid: str
        body: GsaFindSimilarRequest
        x_ansys_vc_mode: str
            The version control mode. If not provided, defaults to write mode if the user is allowed to see that. Can also be set in the query string.
        mode: str
            The version control mode. If not provided, defaults to write mode if the user is allowed to see that. Can also be set in the header.

        Returns
        -------
        GsaFindSimilarResponse
        """
        data = self._find_similar_with_http_info(
            database_key,
            table_guid,
            record_guid,
            body,
            x_ansys_vc_mode,
            mode,
            _return_http_data_only=True,
        )
        return data  # type: ignore[no-any-return]

    def _find_similar_with_http_info(
        self,
        database_key: "str",
        table_guid: "str",
        record_guid: "str",
        body: "Optional[GsaFindSimilarRequest]" = None,
        x_ansys_vc_mode: "Optional[str]" = None,
        mode: "Optional[str]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "database_key",
            "table_guid",
            "record_guid",
            "body",
            "x_ansys_vc_mode",
            "mode",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method find_similar"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'find_similar'"
            )
        # verify the required parameter "table_guid" is set
        if "table_guid" not in params or params["table_guid"] is None:
            raise ValueError(
                "Missing the required parameter 'table_guid' when calling 'find_similar'"
            )
        # verify the required parameter "record_guid" is set
        if "record_guid" not in params or params["record_guid"] is None:
            raise ValueError(
                "Missing the required parameter 'record_guid' when calling 'find_similar'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]
        if "table_guid" in params and table_guid is not None:
            path_params["table-guid"] = params["table_guid"]
        if "record_guid" in params and record_guid is not None:
            path_params["record-guid"] = params["record_guid"]

        query_params: list[Any] = []
        if "mode" in params and mode is not None:
            query_params.append(("mode", params["mode"]))

        header_params: dict[str, Any] = {}
        if "x_ansys_vc_mode" in params and x_ansys_vc_mode is not None:
            header_params["X-Ansys-VC-Mode"] = params["x_ansys_vc_mode"]

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        if "body" in params and body is not None:
            body_params = params["body"]
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(
            ["text/plain", "application/json", "text/json"]
        )

        # HTTP header 'Content-Type'
        header_params["Content-Type"] = self.api_client.select_header_content_type(
            ["application/json-patch+json", "application/json", "text/json", "application/*+json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            200: "GsaFindSimilarResponse",
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/tables/{table-guid}/record/{record-guid}:findsimilar",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def get_find_similar_results(
        self, *, find_similar_identifier: "str"
    ) -> "GsaGetFindSimilarResultsResponse | None":
        """Returns find similar results by identifier

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        find_similar_identifier: str

        Returns
        -------
        GsaGetFindSimilarResultsResponse | None
        """
        data = self._get_find_similar_results_with_http_info(
            find_similar_identifier, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _get_find_similar_results_with_http_info(
        self, find_similar_identifier: "str", **kwargs: Any
    ) -> Any:
        all_params = [
            "find_similar_identifier",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method get_find_similar_results"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "find_similar_identifier" is set
        if "find_similar_identifier" not in params or params["find_similar_identifier"] is None:
            raise ValueError(
                "Missing the required parameter 'find_similar_identifier' when calling 'get_find_similar_results'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "find_similar_identifier" in params and find_similar_identifier is not None:
            path_params["find-similar-identifier"] = params["find_similar_identifier"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(
            ["text/plain", "application/json", "text/json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            200: "GsaGetFindSimilarResultsResponse",
            403: None,
            404: None,
        }

        return self.api_client.call_api(
            "/v1alpha/{find-similar-identifier}/results",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def integration_find_similar(
        self, *, schema: "str", record_guid: "str", body: "Optional[GsaFindSimilarRequest]" = None
    ) -> "GsaFindSimilarResponse | None":
        """Runs a find similar calculation against the integration schema.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        schema: str
        record_guid: str
        body: GsaFindSimilarRequest

        Returns
        -------
        GsaFindSimilarResponse | None
        """
        data = self._integration_find_similar_with_http_info(
            schema, record_guid, body, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _integration_find_similar_with_http_info(
        self,
        schema: "str",
        record_guid: "str",
        body: "Optional[GsaFindSimilarRequest]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "schema",
            "record_guid",
            "body",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method integration_find_similar"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "schema" is set
        if "schema" not in params or params["schema"] is None:
            raise ValueError(
                "Missing the required parameter 'schema' when calling 'integration_find_similar'"
            )
        # verify the required parameter "record_guid" is set
        if "record_guid" not in params or params["record_guid"] is None:
            raise ValueError(
                "Missing the required parameter 'record_guid' when calling 'integration_find_similar'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "schema" in params and schema is not None:
            path_params["schema"] = params["schema"]
        if "record_guid" in params and record_guid is not None:
            path_params["record-guid"] = params["record_guid"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        if "body" in params and body is not None:
            body_params = params["body"]
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(
            ["text/plain", "application/json", "text/json"]
        )

        # HTTP header 'Content-Type'
        header_params["Content-Type"] = self.api_client.select_header_content_type(
            ["application/json-patch+json", "application/json", "text/json", "application/*+json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            200: "GsaFindSimilarResponse",
            404: None,
            422: None,
        }

        return self.api_client.call_api(
            "/v1alpha/integration-schemas/{schema}/record/{record-guid}:findsimilar",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )
