# Copyright (C) 2023 - 2026 ANSYS, Inc. and/or its affiliates.
# SPDX-License-Identifier: MIT
#
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

"""
MI Server API

No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import re  # noqa: F401
from typing import TYPE_CHECKING, Any, BinaryIO, Optional  # noqa: F401

from . import ApiBase

if TYPE_CHECKING:
    import pathlib

    from ..models import *


class AccessControlPermissionBasedApi(ApiBase):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def aggregate_permission_access_controls(
        self,
        *,
        database_key: "str",
        body: "Optional[GsaAggregatePermissionAccessControlsRequest]" = None,
    ) -> "GsaPermissionBasedAccessControlAggregationException | GsaPermissionCategoryAccessControlAggregateInfo | None":
        """Gets the aggregated permission-based access control settings for entities.  Returns whether all, some, or none of the provided entities have read or write access for each permission.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        body: GsaAggregatePermissionAccessControlsRequest

        Returns
        -------
        GsaPermissionBasedAccessControlAggregationException | GsaPermissionCategoryAccessControlAggregateInfo | None
        """
        data = self._aggregate_permission_access_controls_with_http_info(
            database_key, body, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _aggregate_permission_access_controls_with_http_info(
        self,
        database_key: "str",
        body: "Optional[GsaAggregatePermissionAccessControlsRequest]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "database_key",
            "body",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method aggregate_permission_access_controls"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'aggregate_permission_access_controls'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        if "body" in params and body is not None:
            body_params = params["body"]
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(["application/json"])

        # HTTP header 'Content-Type'
        header_params["Content-Type"] = self.api_client.select_header_content_type(
            ["application/json-patch+json", "application/json", "text/json", "application/*+json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            200: "GsaPermissionCategoryAccessControlAggregateInfo",
            400: "GsaPermissionBasedAccessControlAggregationException",
            403: None,
            404: None,
            422: None,
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/permission-based-access-control/aggregate",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def cancel_permission_category_access_controls_operation(
        self, *, database_key: "str", operation_identifier: "str"
    ) -> "GsaLongRunningOperation | GsaLongRunningOperationInvalidStatusException | None":
        """Requests cancellation of a long-running operation for updating permission-based access control settings.  Cancellation will only happen when the operation is pending or in progress, and is not guaranteed - it is a best-effort attempt to stop the operation early.  The long-running operation status will be set to awaitingCancellation; then to cancelled if cancellation is successful.  If the long-running operation has already completed (succeeded or failed), an error will be returned.  If the long-running operation has already been cancelled, the status will remain as is (awaitingCancellation or cancelled).

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        operation_identifier: str

        Returns
        -------
        GsaLongRunningOperation | GsaLongRunningOperationInvalidStatusException | None
        """
        data = self._cancel_permission_category_access_controls_operation_with_http_info(
            database_key, operation_identifier, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _cancel_permission_category_access_controls_operation_with_http_info(
        self, database_key: "str", operation_identifier: "str", **kwargs: Any
    ) -> Any:
        all_params = [
            "database_key",
            "operation_identifier",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method cancel_permission_category_access_controls_operation"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'cancel_permission_category_access_controls_operation'"
            )
        # verify the required parameter "operation_identifier" is set
        if "operation_identifier" not in params or params["operation_identifier"] is None:
            raise ValueError(
                "Missing the required parameter 'operation_identifier' when calling 'cancel_permission_category_access_controls_operation'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]
        if "operation_identifier" in params and operation_identifier is not None:
            path_params["operation-identifier"] = params["operation_identifier"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(["application/json"])

        response_type_map: dict[int, Optional[str]] = {
            200: "GsaLongRunningOperation",
            422: "GsaLongRunningOperationInvalidStatusException",
            403: None,
            404: None,
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/permission-based-access-control/update-operations/{operation-identifier}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def get_permission_category_access_controls_operation(
        self,
        *,
        database_key: "str",
        operation_identifier: "str",
        include: "Optional[list[GsaLongRunningOperationInclude]]" = None,
    ) -> "GsaLongRunningOperation | None":
        """Gets the long-running operation for updating permission-based access control settings in the specified database.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        operation_identifier: str
        include: list[GsaLongRunningOperationInclude]

        Returns
        -------
        GsaLongRunningOperation | None
        """
        data = self._get_permission_category_access_controls_operation_with_http_info(
            database_key, operation_identifier, include, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _get_permission_category_access_controls_operation_with_http_info(
        self,
        database_key: "str",
        operation_identifier: "str",
        include: "Optional[list[GsaLongRunningOperationInclude]]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "database_key",
            "operation_identifier",
            "include",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method get_permission_category_access_controls_operation"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'get_permission_category_access_controls_operation'"
            )
        # verify the required parameter "operation_identifier" is set
        if "operation_identifier" not in params or params["operation_identifier"] is None:
            raise ValueError(
                "Missing the required parameter 'operation_identifier' when calling 'get_permission_category_access_controls_operation'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]
        if "operation_identifier" in params and operation_identifier is not None:
            path_params["operation-identifier"] = params["operation_identifier"]

        query_params: list[Any] = []
        if "include" in params and include is not None:
            query_params.append(("include", params["include"]))
            collection_formats["include"] = "multi"

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(["application/json"])

        response_type_map: dict[int, Optional[str]] = {
            200: "GsaLongRunningOperation",
            403: None,
            404: None,
            422: None,
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/permission-based-access-control/update-operations/{operation-identifier}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def get_permission_category_access_controls_operation_result(
        self, *, database_key: "str", operation_identifier: "str"
    ) -> "None":
        """Gets the result of a long-running operation for updating permission-based access control settings in the specified database.  A successful response would return a 204 No Content response.  A failed response would return an error response.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        operation_identifier: str

        Returns
        -------
        None
        """
        data = self._get_permission_category_access_controls_operation_result_with_http_info(
            database_key, operation_identifier, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _get_permission_category_access_controls_operation_result_with_http_info(
        self, database_key: "str", operation_identifier: "str", **kwargs: Any
    ) -> Any:
        all_params = [
            "database_key",
            "operation_identifier",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method get_permission_category_access_controls_operation_result"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'get_permission_category_access_controls_operation_result'"
            )
        # verify the required parameter "operation_identifier" is set
        if "operation_identifier" not in params or params["operation_identifier"] is None:
            raise ValueError(
                "Missing the required parameter 'operation_identifier' when calling 'get_permission_category_access_controls_operation_result'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]
        if "operation_identifier" in params and operation_identifier is not None:
            path_params["operation-identifier"] = params["operation_identifier"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None

        response_type_map: dict[int, Optional[str]] = {
            204: None,
            403: None,
            404: None,
            422: None,
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/permission-based-access-control/update-operations/{operation-identifier}/result",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def get_permission_category_access_controls_operations(
        self,
        *,
        database_key: "str",
        include: "Optional[list[GsaLongRunningOperationInclude]]" = None,
        status: "Optional[list[GsaLongRunningStatus]]" = None,
    ) -> "None | list[GsaLongRunningOperation]":
        """Gets all long-running operations for updating permission-based access control settings in the specified database.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        include: list[GsaLongRunningOperationInclude]
            Optionally include more detailed information in the response.
        status: list[GsaLongRunningStatus]
            Optional filter for the status of the long-running operations.

        Returns
        -------
        None | list[GsaLongRunningOperation]
        """
        data = self._get_permission_category_access_controls_operations_with_http_info(
            database_key, include, status, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _get_permission_category_access_controls_operations_with_http_info(
        self,
        database_key: "str",
        include: "Optional[list[GsaLongRunningOperationInclude]]" = None,
        status: "Optional[list[GsaLongRunningStatus]]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "database_key",
            "include",
            "status",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method get_permission_category_access_controls_operations"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'get_permission_category_access_controls_operations'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]

        query_params: list[Any] = []
        if "include" in params and include is not None:
            query_params.append(("include", params["include"]))
            collection_formats["include"] = "multi"
        if "status" in params and status is not None:
            query_params.append(("status", params["status"]))
            collection_formats["status"] = "multi"

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(["application/json"])

        response_type_map: dict[int, Optional[str]] = {
            200: "list[GsaLongRunningOperation]",
            403: None,
            422: None,
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/permission-based-access-control/update-operations",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def update_permission_category_access_controls_operation(
        self,
        *,
        database_key: "str",
        body: "Optional[GsaUpdatePermissionCategoryAccessControlsOperationRequest]" = None,
    ) -> "GsaLongRunningOperation | GsaPermissionBasedAccessControlUpdateOperationException | None":
        """Update permission-based access control settings for entities.  Sets the access control for the given permissions on each entity.  If setting access control on a record, its data will also be updated, but constrained by the attribute.  If setting access control on an attribute, its data will also be updated, but constrained by the latest relevant recordVersion.  This runs as a long-running operation.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            See [Schema - Databases/GetAllDatabases](#/Schema%20-%20Databases/GetAllDatabases)
        body: GsaUpdatePermissionCategoryAccessControlsOperationRequest

        Returns
        -------
        GsaLongRunningOperation | GsaPermissionBasedAccessControlUpdateOperationException | None
        """
        data = self._update_permission_category_access_controls_operation_with_http_info(
            database_key, body, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _update_permission_category_access_controls_operation_with_http_info(
        self,
        database_key: "str",
        body: "Optional[GsaUpdatePermissionCategoryAccessControlsOperationRequest]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "database_key",
            "body",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method update_permission_category_access_controls_operation"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'update_permission_category_access_controls_operation'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        if "body" in params and body is not None:
            body_params = params["body"]
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(["application/json"])

        # HTTP header 'Content-Type'
        header_params["Content-Type"] = self.api_client.select_header_content_type(
            ["application/json-patch+json", "application/json", "text/json", "application/*+json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            202: "GsaLongRunningOperation",
            400: "GsaPermissionBasedAccessControlUpdateOperationException",
            403: None,
            404: None,
            422: None,
        }

        return self.api_client.call_api(
            "/v1alpha/databases/{database-key}/permission-based-access-control/update-operations",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )
