# Copyright (C) 2023 - 2025 ANSYS, Inc. and/or its affiliates.
# SPDX-License-Identifier: MIT
#
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

"""
MI Server API

No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import re  # noqa: F401
from typing import TYPE_CHECKING, Any, BinaryIO, Optional  # noqa: F401

from . import ApiBase

if TYPE_CHECKING:
    import pathlib

    from ..models import *


class BlobInfosApi(ApiBase):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def get_all_data_updater_blob_infos(self) -> "list[GsaBlobInfoDto]":
        """Get a list of all blob descriptors for databases that the user is admin of.

        This method makes a synchronous HTTP request.

        Returns
        -------
        list[GsaBlobInfoDto]
        """
        data = self._get_all_data_updater_blob_infos_with_http_info(_return_http_data_only=True)
        return data  # type: ignore[no-any-return]

    def _get_all_data_updater_blob_infos_with_http_info(self, **kwargs: Any) -> Any:
        all_params = ["_return_http_data_only", "_preload_content", "_request_timeout"]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method get_all_data_updater_blob_infos"
                )
            params[key] = val
        del params["kwargs"]

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}

        query_params: list[Any] = []

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(
            ["text/plain", "application/json", "text/json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            200: "list[GsaBlobInfoDto]",
        }

        return self.api_client.call_api(
            "/v1alpha/blob-infos/dataupdater",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )

    def get_data_updater_blob_infos(
        self, *, database_key: "str", blob_path: "str", recursive: "Optional[bool]" = None
    ) -> "list[GsaBlobInfoDto]":
        """Get a list of blob descriptors for a specific database, optionally limited by their relative path.

        This method makes a synchronous HTTP request.

        Parameters
        ----------
        database_key: str
            Database key.
        blob_path: str
            Path to look under. Can be empty
        recursive: bool
            Whether to look under sub-paths as well.

        Returns
        -------
        list[GsaBlobInfoDto]
        """
        data = self._get_data_updater_blob_infos_with_http_info(
            database_key, blob_path, recursive, _return_http_data_only=True
        )
        return data  # type: ignore[no-any-return]

    def _get_data_updater_blob_infos_with_http_info(
        self,
        database_key: "str",
        blob_path: "str",
        recursive: "Optional[bool]" = None,
        **kwargs: Any,
    ) -> Any:
        all_params = [
            "database_key",
            "blob_path",
            "recursive",
            "_return_http_data_only",
            "_preload_content",
            "_request_timeout",
        ]

        params = locals()
        for key, val in params["kwargs"].items():
            if key not in all_params:
                raise TypeError(
                    f"Got an unexpected keyword argument '{key}' to method get_data_updater_blob_infos"
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter "database_key" is set
        if "database_key" not in params or params["database_key"] is None:
            raise ValueError(
                "Missing the required parameter 'database_key' when calling 'get_data_updater_blob_infos'"
            )
        # verify the required parameter "blob_path" is set
        if "blob_path" not in params or params["blob_path"] is None:
            raise ValueError(
                "Missing the required parameter 'blob_path' when calling 'get_data_updater_blob_infos'"
            )

        collection_formats: dict[str, Any] = {}

        path_params: dict[str, Any] = {}
        if "database_key" in params and database_key is not None:
            path_params["database-key"] = params["database_key"]
        if "blob_path" in params and blob_path is not None:
            path_params["blob-path"] = params["blob_path"]

        query_params: list[Any] = []
        if "recursive" in params and recursive is not None:
            query_params.append(("recursive", params["recursive"]))

        header_params: dict[str, Any] = {}

        form_params: list[Any] = []
        local_var_files: dict[str, Any] = {}

        body_params = None
        # HTTP header 'Accept'
        header_params["Accept"] = self.api_client.select_header_accept(
            ["text/plain", "application/json", "text/json"]
        )

        response_type_map: dict[int, Optional[str]] = {
            200: "list[GsaBlobInfoDto]",
        }

        return self.api_client.call_api(
            "/v1alpha/blob-infos/dataupdater/{database-key}/{blob-path}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
            response_type_map=response_type_map,
        )
