# coding: utf-8

"""
    MI Server API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

import re  # noqa: F401
from . import ApiBase


class DataExportApi(ApiBase):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def v1alpha_databases_database_keyexport_post(self, database_key, **kwargs):  # noqa: E501
        """Export data from the given database.  # noqa: E501

        This method makes a synchronous HTTP request.

        :param str database_key: (required)
        :param GrantaServerApiDataExportDataExportRequest body:
        :param str x_ansys_vc_mode: The version control mode. If not provided, defaults to write mode if the user is allowed to see that. Can also be set in the query string.
        :param str mode: The version control mode. If not provided, defaults to write mode if the user is allowed to see that. Can also be set in the header.
        :return: GrantaServerApiDataExportDataExportResponse
        """
        kwargs['_return_http_data_only'] = True
        (data) = self.v1alpha_databases_database_keyexport_post_with_http_info(database_key, **kwargs)  # noqa: E501
        return data

    def v1alpha_databases_database_keyexport_post_with_http_info(self, database_key, **kwargs):  # noqa: E501
        """Export data from the given database.  # noqa: E501

        This method makes a synchronous HTTP request.

        :param str database_key: (required)
        :param GrantaServerApiDataExportDataExportRequest body:
        :param str x_ansys_vc_mode: The version control mode. If not provided, defaults to write mode if the user is allowed to see that. Can also be set in the query string.
        :param str mode: The version control mode. If not provided, defaults to write mode if the user is allowed to see that. Can also be set in the header.
        :return: GrantaServerApiDataExportDataExportResponse
        """

        all_params = ['database_key', 'body', 'x_ansys_vc_mode', 'mode']  # noqa: E501
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '{}' to method v1alpha_databases_database_keyexport_post".format(key)
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'database_key' is set
        if ('database_key' not in params or
                params['database_key'] is None):
            raise ValueError("Missing the required parameter `database_key` when calling `v1alpha_databases_database_keyexport_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'database_key' in params:
            path_params['database-key'] = params['database_key']  # noqa: E501

        query_params = []
        if 'mode' in params:
            query_params.append(('mode', params['mode']))  # noqa: E501

        header_params = {}
        if 'x_ansys_vc_mode' in params:
            header_params['X-Ansys-VC-Mode'] = params['x_ansys_vc_mode']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501
        
        response_type_map = {
            200: 'GrantaServerApiDataExportDataExportResponse',
            404: None,
            403: None,
        }
        
        return self.api_client.call_api(
            '/v1alpha/databases/{database-key}:export', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats,
            response_type_map=response_type_map)

    def v1alpha_integration_schemas_schemaexport_post(self, schema, **kwargs):  # noqa: E501
        """Export data from the integration schema.  # noqa: E501

        This method makes a synchronous HTTP request.

        :param str schema: (required)
        :param GrantaServerApiIntegrationDataExportIntegrationDataExportRequest body:
        :return: GrantaServerApiDataExportDataExportResponse
        """
        kwargs['_return_http_data_only'] = True
        (data) = self.v1alpha_integration_schemas_schemaexport_post_with_http_info(schema, **kwargs)  # noqa: E501
        return data

    def v1alpha_integration_schemas_schemaexport_post_with_http_info(self, schema, **kwargs):  # noqa: E501
        """Export data from the integration schema.  # noqa: E501

        This method makes a synchronous HTTP request.

        :param str schema: (required)
        :param GrantaServerApiIntegrationDataExportIntegrationDataExportRequest body:
        :return: GrantaServerApiDataExportDataExportResponse
        """

        all_params = ['schema', 'body']  # noqa: E501
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in params['kwargs'].items():
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '{}' to method v1alpha_integration_schemas_schemaexport_post".format(key)
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'schema' is set
        if ('schema' not in params or
                params['schema'] is None):
            raise ValueError("Missing the required parameter `schema` when calling `v1alpha_integration_schemas_schemaexport_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'schema' in params:
            path_params['schema'] = params['schema']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501
        
        response_type_map = {
            200: 'GrantaServerApiDataExportDataExportResponse',
            404: None,
        }
        
        return self.api_client.call_api(
            '/v1alpha/integration-schemas/{schema}:export', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats,
            response_type_map=response_type_map)
