name: 'Generate client library'

on:
  pull_request:
    paths:
    - 'yaml/*.yaml'
    - 'yaml/*.json'
    - 'pom.xml'
    - '.github/workflows/generate_library.yml'
  workflow_dispatch:

jobs:
  generate-client-library:
    name: "Generate and update client library"
    runs-on: ubuntu-latest
    if: ${{ !(github.actor == 'pyansys-ci-bot' && github.event.action == 'synchronize') }}
    env:
      IS_RELEASE_BRANCH: ${{ (github.event_name == 'pull_request' && startsWith(github.event.pull_request.base.ref, 'release/')) || (github.event_name == 'workflow_dispatch' && startsWith(github.ref_name, 'release/')) }}
    steps:
    - name: "Checkout repository"
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}  # Required to trigger CI workflow following git push
        ref: ${{ github.event.pull_request.head.ref }}

    - name: "Set up JDK 11"
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e  #v5.1.0
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven

    - name: "Clean library folder"
      run: find . ! -name 'poetry.lock' -type f -exec rm -f {} +
      working-directory: ansys-grantami-serverapi-openapi

    - name: "Build client library"
      run: mvn -Dbuild-id=${{ github.run_number }} ${{ env.IS_RELEASE_BRANCH == 'true' && '-Dis-release' || '' }} -s .m2/settings.xml compile
      env:
        MAVEN_OPTS: "-Dlog4j2.formatMsgNoLookups=true"
        SERVER_USERNAME: ${{ secrets.REPO_USER }}
        SERVER_PASSWORD: ${{ secrets.REPO_TOKEN }}

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: "3.12"

    - name: "Ensure poetry.lock file is up to date"
      run: |
        pip install poetry
        poetry lock
      working-directory: ansys-grantami-serverapi-openapi

    - name: "Install and run pre-commit"
      run: |
        pip install pre-commit
        git add ansys-grantami-serverapi-openapi/
        ! pre-commit run --all-files

    - name: "Commit changes to library code"
      uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5  #v9.1.4
      with:
        add: 'ansys-grantami-serverapi-openapi'
        committer_name: 'GitHub Actions'
        committer_email: 'actions@github.com'
        message: 'Generate Client Library code - Automated'
